/*INDEX-HOME-------------------------general------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* library  javascript scrolll */

.font-fugaz {
  font-family: "Fugaz One", cursive;
}

.wm {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.img-bg1 {
  background-image: url(asset/bg/bg5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* darkmode */
body.darkmode {
  background: rgba(252, 252, 252, 0.466);
  color: rgb(0, 0, 0);
}

/* style judul nama */
.judul {
  background: #3804b3;
  background: linear-gradient(
    to top right,
    #3804b3 0%,
    #6f00ff 30%,
    #a078ff 60%,
    #2d02d9 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradasi1 {
  background: #5647de;
  background: radial-gradient(
    circle farthest-side at top right,
    #6547de 73%,
    #1c0282 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* partikel */
.partikel {
  border-radius: 50%;
  background: #1d02cf5b;
  background: radial-gradient(
    circle farthest-corner at center center,
    #6202cf62 0%,
    #00000000 51%
  );
}

.bg-border {
  border-radius: 1.2rem;
  /* From https://css.glass */
  background: rgba(19, 19, 19, 0.785);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 50px 0px;
}

/*INDEX-HOME------------------------textvertikal-------------*/

.vertical {
  z-index: 9999;
  letter-spacing: 0.025rem;
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: rgba(255, 255, 255, 0.5);
}

.vertical a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  display: inline-block;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.vertical a:hover {
  color: rgb(118, 70, 207);
}

.vertical a:hover:after {
  color: rgba(255, 255, 255, 0.5);
}

.vertical a:after {
  content: "/";
  padding: 0 0.5rem;
  display: inline-block;
}

.vertical span.destination {
  color: #fff;
}

.bg-blur {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header {
  /* background-image: url(asset/bg/bg5.png); */
  width: 100vw;
  height: 100vh;
}

.img-sertifikat-item {
  width: 75%;
  filter: drop-shadow(5px 5px 10px #000);
  margin: 10%;
}

/* ================================================= */
/* ================================================= */
/* ================================================= */
/* UNTUK CLOSE POP UP  */
/* ================================================= */
/* CSS for the modal (you can include this in your head section) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover {
  color: #bbb;
  cursor: pointer;
}
