.title1 {
    text-align: left;
    animation: tet 3s ease 0s 1 normal none;
}

@keyframes tet {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animasi1 {
    animation: tet 3s ease 0s 1 normal none;
}

@keyframes tet {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.title2 {
    text-align: start;
    animation: tet 3s ease 0s 1 normal none;
}

@keyframes tet {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.deskripsi2 {
    text-align: start;
    animation: tet 3s ease 0s 1 normal none;
}

@keyframes tet {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

img {
    width: 100%;
    z-index: 1;
}

@media all and (max-width: 100px) {
    img {
        height: 100%;
    }

    .grid-item-manipulation {
        height: 100%;
        width: 300px;
    }
}

h1 {
    display: flex;
    font-size: 9vh;
    color: white;
}

@media (max-width: 48rem) {
    h1 {
        font-size: calc(1rem + 2rem);
    }
}