:root {
    --background: #060608;
    --color: #fafafa;
}


.container {
    position: absolute;
    left: 0%;
    bottom: 0%;
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}


.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack .glch {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 3.3rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 940ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards calc(var(--index) * 100ms),
        glitch 2s ease infinite 2s alternate-reverse;
}

.stack .glch:nth-child(odd) {
    --glitch-translate: 10px;
}

.stack .glch:nth-child(even) {
    --glitch-translate: -10px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-70%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    60% {
        opacity: 0.5;
        transform: translateX(70%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    4%,
    100% {
        text-shadow: none;
        transform: none;
    }
}