@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  align-items: center;
  background-color: #0c0d0e;
  color: white;
}

/* scroll style */
/* width */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bebbe7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4124a0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0052d5;
}