@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

.lindungi {
  /* agar tidak bisa di select text dan img */
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;  overflow-x: hidden;
  align-items: center;
  background-color: #0c0d0e;
  color: white;
}

/* scroll style */
/* width */
::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bebbe7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4124a0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0052d5;
}